div.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  gap: 10px;
}

p.input-container {
  margin-left: -150px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border: 3px solid black;
  padding-bottom: 5px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 2rem;
  align-items: center;
}

input {
  height: 1.75rem;
  flex: 0 0 200px;
  margin-left: 10px;
  justify-self: end;
}

textarea {
  flex: 0 0 200px;
  margin-left: 10px;
}

div.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button.add {
  width: 100px;
}

ul.entries-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

ul.entries-container li {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex-direction: row;
  border: 3px solid blue;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

ul.entries-container > li > h4.main-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

ul.entries-container > li > h4.description {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: 300;
  font-style: italic;
}

ul.entries-container > li > button.edit,
button.delete {
  width: 70px;
  justify-self: end;
  font-size: 0.9rem;
}

section.general > div.user-input.hide {
  display: none;
}
