div.preview-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.cv-preview {
  width: calc(415px * 1.3);
  height: calc(585px * 1.3);
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 2.5rem;
  gap: 30px;
}

div.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content;
  border-bottom: 2px solid navy;
}

div.user-info > h1 {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: center;
}

div.user-info > h3.email {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  font-weight: 300;
}

div.user-info > h3.phone {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: end;
  font-weight: 300;
}

div.cv-education {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.cv-education > h2 {
  text-align: center;
  color: navy;
}

div.education-info {
  display: grid;
  grid-template-columns: 5fr 1fr 0.25fr 1fr;
}

div.education-info > h3.school {
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 700;
}

div.education-info > h4.title {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1rem;
}

div.education-info > h5.start-date {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  font-weight: 500;
  font-size: 0.9rem;
}

div.education-info > span {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  font-size: 0.9rem;
}

div.education-info > h5.end-date {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: end;
  font-weight: 500;
  font-size: 0.9rem;
}

div.cv-practical {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

div.cv-practical > h2 {
  text-align: center;
  color: navy;
}

div.practical-info {
  display: grid;
  grid-template-columns: 5fr 1fr 0.25fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div.practical-info > h3.company {
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 700;
}

div.practical-info > h4.position {
  grid-column: 1/2;
  grid-row: 2/3;
  font-weight: 500;
  font-style: italic;
  font-size: 1.1rem;
}

div.practical-info > p.responsibility {
  grid-column: 1/5;
  grid-row: 3/4;
  font-weight: 500;
  font-size: 1rem;
}

div.practical-info > h5.start-date {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  font-weight: 500;
  font-size: 0.9rem;
}

div.practical-info > span {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  font-size: 0.9rem;
}

div.practical-info > h5.end-date {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: end;
  font-weight: 500;
  font-size: 0.9rem;
}
